<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
<%=link_to 'Home', root_path, class:'navbar-brand'%>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <%= link_to 'Catalogue', books_path, class:'nav-link'%>
      </div>
    </div>
    <%if current_user %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:'btn btn-outline-success' %>
    <%else%>
    <%= link_to 'Sign up', new_user_registration_path, class:'btn btn-outline-success'%>
<%= link_to 'Log in', new_user_session_path, class:'btn btn-outline-success' %>
<%end%>
  </div>
</nav>