<nav class="navbar navbar-light bg-light" >
  <div class="container-fluid d-flex justify-content-center" >
    <form class="d-flex", style="margin-right:15px">
      <%# <input class="form-control  me-2"type="search" placeholder="Search" aria-label="Search" > 
      <button class="btn btn-outline-success" type="submit">Search</button> %>
      
      <%= search_form_for @q do |f| %>


  <%=  f.search_field :title_cont, class:"form-control  me-2", placeholder:"Title Search" %> 

   
  <%= f.search_field :author_cont, class:"form-control  me-2", placeholder:"Author Search" %> 
  

<%= f.select :rating_eq,Book.distinct.order(:rating).pluck(:rating),{ prompt: "Select Rating" }, class:"form-control  me-2" %> 

  <%= f.submit class:"btn btn-outline-success" %>
  
  <%end%>
    </form>
    <div>
    <%= link_to 'Reset', books_path, class:"btn btn-outline-success", style:"margin-right: 10px;" %>
    <%= link_to "Add new book", new_book_path, class:"btn btn-outline-success" %>
    </div>
  </div>
</nav>