<%= stylesheet_link_tag('link')%>
<%= stylesheet_link_tag('index')%>
<header>
  <%= render 'pages/searchnavbar' %>
</header>

<p style="color: green"><%= notice %></p>


<div id="alphabetical-index" style="text-align: center;">
  <% @alphabet.each do |letter| %>
    <%= link_to letter, books_path(letter: letter), class: 'black-link' %>
  <% end %>
</div>
<div class="mycataloguecontainer"> 
<h1 class="mycatalogue">My Book Catalogue</h1>
</div>
<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
    </p>
  <% end %>
</div>



