<%= stylesheet_link_tag('book')%>

<p style="color: green"><%= notice %></p>

<h1>My Book Catalogue</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title %>
  <%= f.search_field :title_cont %> 

    <%= f.label :author%>
  <%= f.search_field :author_cont %> 
  <%= f.submit %>
  <%end%>

<%= button_to "Add new book", new_book_path %>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%# <%= link_to "Show this book", book %> 
    </p>
  <% end %>
</div>


