<%= stylesheet_link_tag('link')%>
<header>
  <%= render 'pages/searchnavbar' %>
</header>

<p style="color: green"><%= notice %></p>


<div id="alphabetical-index" style="text-align: center;">
  <% @alphabet.each do |letter| %>
    <%= link_to letter, books_path(letter: letter), class: 'green-link' %>
  <% end %>
</div>
<br>
<h1>My Book Catalogue</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
    </p>
  <% end %>
</div>



